In [13]:
import pandas as pd
pd.set_option('display.max_columns',10)
print("original data : \n ")
df=pd.read_excel("230901115dfiles.xlsx")
print(df)

original data :

   Unnamed: 0.6  Unnamed: 0.5  Unnamed: 0.4  Unnamed: 0.3  Unnamed: 0.2  ...  \
0             0             0             0             0             0  ...
1             1             1             1             1             1  ...
2             2             2             2             2             2  ...
3             3             3             3             3             3  ...
4             4             4             4             4             4  ...
5             5             5             5             5             5  ...
6             6             6             6             6             6  ...
7             7             7             7             7             7  ...
8             8             8             8             8             8  ...
9             9             9             9             9             9  ...

   tam  maths  sci  soc  total
0   91     99   94   96    468
1   90     90   77   90    431
2   88     98   88   88    437
3   88     97   88   88    414
4   90     90   88   88    270
5   99     93   69   88    359
6   95     96   79   95    464
7  100     88   59  100    447
8   94     77   54   94    412
9   91     96   91   91    459

[10 rows x 16 columns]

In [14]:
f=df['name'].str.strip()
f.to_excel("230901115dfiles.xlsx")
print(f)

0       arun
1       arya
2      arjun
3     balaji
4      bawan
5    barathi
6     cheris
7       devi
8       elan
9      jagan
Name: name, dtype: object

In [15]:
print("\n replaced value:")
k=df.fillna(method='pad')
print(k)
print("\n updated list \n ")
k.to_excel("230901115dfiles.xlsx")

 replaced value:
   Unnamed: 0.6  Unnamed: 0.5  Unnamed: 0.4  Unnamed: 0.3  Unnamed: 0.2  ...  \
0             0             0             0             0             0  ...
1             1             1             1             1             1  ...
2             2             2             2             2             2  ...
3             3             3             3             3             3  ...
4             4             4             4             4             4  ...
5             5             5             5             5             5  ...
6             6             6             6             6             6  ...
7             7             7             7             7             7  ...
8             8             8             8             8             8  ...
9             9             9             9             9             9  ...

   tam  maths  sci  soc  total
0   91     99   94   96    468
1   90     90   77   90    431
2   88     98   88   88    437
3   88     97   88   88    414
4   90     90   88   88    270
5   99     93   69   88    359
6   95     96   79   95    464
7  100     88   59  100    447
8   94     77   54   94    412
9   91     96   91   91    459

[10 rows x 16 columns]

 updated list

In [16]:
print("\n drop one particular column :\n")
k.drop(['soc'],axis=1,inplace=True)
print(k)
print("\n updated list :\n ")
k.to_excel("230901115filesheet.xlsx")
print(k)

 drop one particular column :

   Unnamed: 0.6  Unnamed: 0.5  Unnamed: 0.4  Unnamed: 0.3  Unnamed: 0.2  ...  \
0             0             0             0             0             0  ...
1             1             1             1             1             1  ...
2             2             2             2             2             2  ...
3             3             3             3             3             3  ...
4             4             4             4             4             4  ...
5             5             5             5             5             5  ...
6             6             6             6             6             6  ...
7             7             7             7             7             7  ...
8             8             8             8             8             8  ...
9             9             9             9             9             9  ...

   eng  tam  maths sci  total
0   88   91     99  94    468
1   84   90     90  77    431
2   75   88     98  88    437
3   50   88     97  88    414
4   90   90     90  88    270
5   98   99     93  69    359
6   99   95     96  79    464
7  100  100     88  59    447
8   93   94     77  54    412
9   90   91     96  91    459

[10 rows x 15 columns]

 updated list :

   Unnamed: 0.6  Unnamed: 0.5  Unnamed: 0.4  Unnamed: 0.3  Unnamed: 0.2  ...  \
0             0             0             0             0             0  ...
1             1             1             1             1             1  ...
2             2             2             2             2             2  ...
3             3             3             3             3             3  ...
4             4             4             4             4             4  ...
5             5             5             5             5             5  ...
6             6             6             6             6             6  ...
7             7             7             7             7             7  ...
8             8             8             8             8             8  ...
9             9             9             9             9             9  ...

   eng  tam  maths sci  total
0   88   91     99  94    468
1   84   90     90  77    431
2   75   88     98  88    437
3   50   88     97  88    414
4   90   90     90  88    270
5   98   99     93  69    359
6   99   95     96  79    464
7  100  100     88  59    447
8   93   94     77  54    412
9   90   91     96  91    459

[10 rows x 15 columns]

In [17]:
print("\n replace values :\n")
n=pd.read_excel("230901115dfiles.xlsx")
print("\n original data :\n")
print(n)
y=n.replace({89:88})
print("\n repaced dataset :\n")
print(y)
print("\n updated dataset :\n")
y.to_excel("230901115dfiles.xlsx")

 replace values :


 original data :

   Unnamed: 0.7  Unnamed: 0.6  Unnamed: 0.5  Unnamed: 0.4  Unnamed: 0.3  ...  \
0             0             0             0             0             0  ...
1             1             1             1             1             1  ...
2             2             2             2             2             2  ...
3             3             3             3             3             3  ...
4             4             4             4             4             4  ...
5             5             5             5             5             5  ...
6             6             6             6             6             6  ...
7             7             7             7             7             7  ...
8             8             8             8             8             8  ...
9             9             9             9             9             9  ...

   tam  maths  sci  soc total
0   91     99   94   96   468
1   90     90   77   90   431
2   88     98   88   88   437
3   88     97   88   88   414
4   90     90   88   88   270
5   99     93   69   88   359
6   95     96   79   95   464
7  100     88   59  100   447
8   94     77   54   94   412
9   91     96   91   91   459

[10 rows x 17 columns]

 repaced dataset :

   Unnamed: 0.7  Unnamed: 0.6  Unnamed: 0.5  Unnamed: 0.4  Unnamed: 0.3  ...  \
0             0             0             0             0             0  ...
1             1             1             1             1             1  ...
2             2             2             2             2             2  ...
3             3             3             3             3             3  ...
4             4             4             4             4             4  ...
5             5             5             5             5             5  ...
6             6             6             6             6             6  ...
7             7             7             7             7             7  ...
8             8             8             8             8             8  ...
9             9             9             9             9             9  ...

   tam  maths  sci  soc total
0   91     99   94   96   468
1   90     90   77   90   431
2   88     98   88   88   437
3   88     97   88   88   414
4   90     90   88   88   270
5   99     93   69   88   359
6   95     96   79   95   464
7  100     88   59  100   447
8   94     77   54   94   412
9   91     96   91   91   459

[10 rows x 17 columns]

 updated dataset :

In [18]:
df=pd.read_excel("230901115dfiles.xlsx")
print(df)
print("\n extract using isin()function :\n")
nw=df['ENGLISH'].isin([89])
print(df[nw])

   Unnamed: 0.8  Unnamed: 0.7  Unnamed: 0.6  Unnamed: 0.5  Unnamed: 0.4  ...  \
0             0             0             0             0             0  ...
1             1             1             1             1             1  ...
2             2             2             2             2             2  ...
3             3             3             3             3             3  ...
4             4             4             4             4             4  ...
5             5             5             5             5             5  ...
6             6             6             6             6             6  ...
7             7             7             7             7             7  ...
8             8             8             8             8             8  ...
9             9             9             9             9             9  ...

   tam  maths  sci  soc  total
0   91     99   94   96    468
1   90     90   77   90    431
2   88     98   88   88    437
3   88     97   88   88    414
4   90     90   88   88    270
5   99     93   69   88    359
6   95     96   79   95    464
7  100     88   59  100    447
8   94     77   54   94    412
9   91     96   91   91    459

[10 rows x 18 columns]

 extract using isin()function :

KeyError: 'ENGLISH'